<% include ../partials/head %>

<% include ../partials/dialogs %>

<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="id-header">
    <h2>Send photos for identification</h2>
    <p class="subhead mdl-color-text--grey-700">Select photos to create new identification request or track previous requests.</p>
</div>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title id-album-title"><i class="material-icons">collections</i> Albums</span>
    <ul class="mdl-list" id="identification-albums"></ul>
  </div>
  <main class="mdl-layout__content">		
    <!-- Loading dialog -->
    <div class="loading-dialog">
        <h1>Loading</h1>
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>
    <div class="page-content" id="images-container"></div>
  </main>
</div>

<% include ../partials/js %>
<script src="/js/identification.js"></script>

<% include ../partials/footer %>