<% include ../partials/head %>

<% include ../partials/dialogs %>
<section class="sample-content">
    <h2>Send photos for identification</h2>
    <p class="subhead mdl-color-text--grey-700">Select photos to create new identification request or track previous requests.</p>
    <ul class="mdl-list" id="identification"></ul>
</section>



<% include ../partials/js %>
<script src="/js/identification.js"></script>

<% include ../partials/footer %>