<% include ../partials/head %>

<% include ../partials/dialogs %>

<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="id-header" style="display: flex; flex-direction: row; width:auto">
  <div>
    <h2>Send photos for identification</h2>
    <p class="subhead mdl-color-text--grey-700">Select photos to create new identification request or track previous requests.</p>
  </div>
  <div class="mdl-layout-spacer"></div>
  <div style="display: flex; align-items: center; padding-right: 20px;">
    <button class="mdl-button raised id-button" id="id_button">Identify Selected Photos</button>
    <dialog class="mdl-dialog">
      <h4 class="mdl-dialog__title">Allow data collection?</h4>
      <div class="mdl-dialog__content">
        <p>
          Allowing us to collect data will let us get you the information you want faster.
        </p>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button">Agree</button>
        <button type="button" class="mdl-button close">Disagree</button>
      </div>
    </dialog>
  </div>
</div>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title id-album-title"><i class="material-icons">collections</i> Albums</span>
    <ul class="mdl-list" id="identification-albums"></ul>
  </div>
  <main class="mdl-layout__content">		
    <!-- Loading dialog -->
    <div class="loading-dialog">
        <h1>Loading</h1>
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>
    <div class="page-content" id="images-container" style="padding-left: 20px;"></div>
    <div class="toast" id="id-toast">
    </div>
  </main>
</div>

<% include ../partials/js %>
<script src="/js/identification.js"></script>

<% include ../partials/footer %>